<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Criar Relatório</title>
    <link rel="stylesheet" href="/css/syles.css">
</head>
<body>
<div class="container mt-4">
    <h1 class="text-center mb-4">Criar Relatório</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2 form-container">
            <form th:action="@{/relatorios/salvar}" th:object="${relatorio}" method="post">

                <!-- Emissão de Gases -->
                <div class="mb-3">
                    <label for="emissaoGases" class="form-label">Emissão de Gases (toneladas)</label>
                    <input type="number" class="form-control" id="emissaoGases" th:field="*{emissaoGases}" required />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('emissaoGases')}" th:errors="*{emissaoGases}"></div>
                </div>

                <!-- Uso de Água -->
                <div class="mb-3">
                    <label for="usoAgua" class="form-label">Uso de Água (m³)</label>
                    <input type="number" class="form-control" id="usoAgua" th:field="*{usoAgua}" required />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('usoAgua')}" th:errors="*{usoAgua}"></div>
                </div>

                <!-- Energia Consumida -->
                <div class="mb-3">
                    <label for="energiaConsumida" class="form-label">Energia Consumida (kWh)</label>
                    <input type="number" class="form-control" id="energiaConsumida" th:field="*{energiaConsumida}" required />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('energiaConsumida')}" th:errors="*{energiaConsumida}"></div>
                </div>

                <!-- Campo oculto para Empresa -->
                <input type="hidden" th:field="*{empresa.id}">

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-secondary mt-2" th:href="@{/empresas/{id}/detalhes(id=${relatorio.empresa.id})}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
